/* цвет основного текста #757575 */
/* цвет вторичного текста #212121;*/
/* акцент #2196F3;*/
/* белый : #FFFFFF;*/

/* background header #FFFFFF */
/* background hero  #F5F4FA; */
/* background section 2 #E5E5E5; */
/* background Наша команда #F5F4FA; */
/* background footer #2F303A;*/
/* backgroung button #F5F4FA */
/* soacial links color #AFB1B8 */
 :root{
     --primary-text-color:#757575;
     --secondary-text-color:#F5F4FA;
     --title-color: #212121;
     --accent-color:#2196F3;
     --white-color: #FFFFFF;
     --background-buttom-color: #F5F4FA;
     --background-footer: #2F303A;
     --socia-linls:#AFB1B8;
     --timefunction:cubic-bezier(0.4, 0, 0.2, 1);
 }
 h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}
p{
    margin-top: 0;
}

body {
    color: var(--primary-text-color); 
    font-family: Roboto, sans-serif; 
    background-color: var(--white-color);
    margin: 0;
   
}
.list {
    list-style: none;
}
.ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

}
/* PAGE HEADER */

.header__page {
    display: flex; 
    }

.header{
    border-bottom: 1px solid #ECECEC;

}
/* MAIN NAVIGATION */
.navigation {
    display: flex;
    align-items: center;
}
/* LOGO */
.navigation__logo{
     font-family: Raleway;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     text-decoration: none;

     display: flex;
     justify-content: center;
     
}
 .navigation__logo--accent{
    color:var(--accent-color);
} 
.navigation__title{
    color: var(--title-color);
}

/* NAVIGATION ELEMENTS */
.navigation__elements{
    display: flex;
    margin-left: 93px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 0;

    margin-top: 0;
    margin-bottom: 0;    
}

.navigation__link{
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    margin-right: 30px;

    color: var(--title-color) ;
    text-decoration: none;

    transition: color 250ms var(--timefunction);
}

.navigation__list:not(:last-child) {
    margin-right: 50px;
}
.navigation__link:last-child{
    margin-right: 0;
}
.navigation__link:hover,
.navigation__link:focus{
    color:var(--accent-color) ;
}
.navigation__link--current{
    color: var(--accent-color);
}
.navigation__link--active::after{
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
/* CONTACT NAVIGATION */
.contact {
    margin: 0;
    display: flex;
    margin-left: auto;
    padding: 0;
    
}
.contact a{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timefunction);
}
.contact a:hover, 
.contact a:focus{
    color:var(--accent-color);
}
.contact__list:not(:last-child){
     margin-right: 30px;
 }
 .contact__link{
     padding-top: 32px;
     padding-bottom: 32px;
     
     display: flex;
    align-items: center;
    
 }
.contact__icon{
    width: 16px;
    margin-right: 10px;
    fill: var(--primary-text-color);
}
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon{
    fill: var(--accent-color);
}
  
/* HERO BLOCK*/
.hero-section{
    background-color: #2F303A;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
    url("../images/Img16.jpg");
    background-repeat: no-repeat;
     background-position: center;

}

.hero-section__title{
    color: var(--white-color) ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    

    margin-top: 0;
    margin-bottom: 30px;
}
.hero-section__button {
    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    padding: 10px 32px;

    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
    transition:background-color 250ms var(--timefunction),
    color 250ms var(--timefunction);
}
/* MODAL + BACKDROP */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.backdrop--is-hidden{
    opacity: 0;
    pointer-events: none;
}.backdrop--is-hidden .modal{
    transform:translate(-50%, 50%) scale(0.9);
}
.modal{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(1);

    transition: transform 250ms var(--timefunction);
    
    
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
}
.modal__name{ 
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);

    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
}
.modal__label{
    position: relative;

    display: flex;
    flex-direction: column;
    /* margin-left: 41px; */

}
.modal__title{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50px);
    
    font-family: Roboto;
    font-size: 12px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    
    color: var(--primary-text-color);
}
.modal__input{
    width: 448px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    margin-bottom: 28px;
    padding-left: 42px;
}
.modal__input:hover,
.modal__input:focus{
    outline: 1px;
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
}
.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon{
    fill: var(--accent-color);
}
.modal__icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-20px);
}

.checkbox{
    display: flex;
    position: relative;
}
.checkbox__label{
    display: inline-block;
}
.checkbox__input{

    -webkit-appearance:none;
   -moz-appearance:none;
        appearance:none;

}
.checkbox__policy{
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;


    color: var(--primary-text-color);
    display: inline-block;
    margin-top: 20px;
    margin-left: 36.38px;
}
.checkbox__policy--accent{
    color: var(--accent-color);
    text-decoration: underline;
}
.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 0;

    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 1px;


    display: flex;
    align-items: center;
    margin-left: 12px;
}
.checkbox__input:checked ~ .checkbox__icon{
    background-color: var(--accent-color);
    border: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}
.modal__comment{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-75px);

    font-family: Roboto;
    font-size: 12px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    
    color: var(--primary-text-color);
}
.modal__text{
    
    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
   
}
.modal__text:focus,
.modal__text:hover{
    outline: 1px;
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
}

.modal__text::placeholder{
    position: absolute;
    top: 12px;
    left: 16px;

    font-family: Roboto;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
}

/* BUTTON */
.button{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}
.button__submit{
    width: 200px;
    height: 50px;
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 55px;
    border-color:  #188CE8;

  
}
.button__submit:hover,
.button__submit:focus{
   cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}
.button__send{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 0.5;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.modal__button{
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}
 .modal__button--closing{
    position: absolute;
    top: 0;
    right: 0;


    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    padding: 7px;
    margin-top: 8px;
    margin-right: 8px;

    transition: transform 250ms var(--timefunction);
    
}

.modal__button--closing:focus,
.modal__button--closing:hover{
    cursor: pointer;
    outline: 1px;
   
    fill: var(--accent-color);
}

/* SECTION 2 */
.section {
    background-color: #FFFFFF;
    list-style: none;
    list-style-type: none;
 

    padding-top: 94px;
    padding-bottom: 94px; 

}
.section__elements {
    margin-bottom: 0;
    margin-top: 0; 

    padding: 0;
    
    display: flex;
}
.section__list{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;

}
.section__list:nth-child(-n+4){
    margin-right: 30px;
}
.section__list:last-child{
    margin-right: 0;
}
.section__icon{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 25px 102.34px;
}
.section__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.section__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    max-width: 270px;
    
}
.section__text:not(:last-child){
    margin-left: 30px;
}
/* WHAT WE ARE DOING / ЧЕМ МЫ ЗАНИМАЕМСЯ */

.section-about{
    background-color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 94px; 
}

.section-about__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 50px;

}
.section-about__elements{
    margin-bottom: 0;
    margin-top: 0;
    display: flex;

    padding: 0;
}
.section-about__item{
    display: block;

    margin-right: 30px;
}
 .section-about__item:last-child{
    margin-right:0; ;
} 
.imgtext{
    position: relative;

}
.section-about__text{
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);

    margin: 0;
    padding: 0;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}
.section-about__img{
    display: block;
}

/* OUR TEAM / НАША КОМАНДА */

.team{
    background-color:#F5F4FA;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    padding-top: 94px;

}
.team__name{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 52px;
}
.team__elements {

    display: flex; 
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    padding: 0;

}
.team__list{
    list-style-type: none;
    border-radius: 0px;
    margin-right: 30px;
    margin-top: 0;
    background-color:var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team__list:last-child{
    margin-right: 0;
}
.text{
    padding-top: 30px;
    margin-bottom: 16px;
}

.team__title {
    color: var(--title-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
   margin-top: 0;

}
.team__text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

/* SOCIAL LINKS */
.social{
    display: flex;
    align-items: center;
    padding-bottom: 30px;  
}
.social__links{
    height: 44px;
    width: 44px;
    fill: var(--socia-linls);
    margin: 0;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--white-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition:background-color 250ms var(--timefunction);
}

.social__links:hover,
.social__links:focus{
   background-color: var(--accent-color);
}
.social__list:nth-child(-n + 4){
    margin-right: 10px;
}
.social__list:last-child{
    margin-right: 0;
}
.social__links:hover .social__icon,
.social__links:focus .social__icon{
    fill: var(--white-color);
}

/* CLIENTS */
.client{
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
    background-color: var(--white-color);
    
    transition:background-color 250ms var(--timefunction);
}
.client__name{
    color: var(--title-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
}
.client__list{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}
.clients__item{
    margin: 0;
    padding: 0;
}

.clients__item:nth-child(-n + 6){
    margin-right: 30px;
}
.clients__item:last-child{
    margin-right: 0;
}
.client__link{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid var(--socia-linls);
}
.client__link:hover,
.client__link:focus{
    background-color: var(--white-color);
    border: 1px solid var(--accent-color);
}
.client__link:hover .client__icon,
.client__link:focus .client__icon{
    fill: var(--accent-color);
}
.client__icon{
    fill: var(--socia-linls);
}

/* FOOTER */

.footer{
    background-color: var(--background-footer);

    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer__section{
    margin-right: 70px;
    flex-shrink: 0;
}
.navigation__logo--footer{
    display: inline-block;
    text-align: center;

    margin-top: 0;
    margin-bottom: 20px;
}
.navigation__title--white{
    color: var(--white-color);
}
.address{
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-bottom: 9px;
    margin-top: 0;
}
.address__footer{
    color: rgba(255, 255, 255, 0.6);  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/* SOCIAL LINKS FOOTER */
.footer-section__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    margin-bottom: 20px;
    margin-top: 0;
}
.footer--flex{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.social--box{
    margin: 0;
    padding: 0;
}
.social__list--colo:hover,
.social__list--color:focus {
   background-color: var(--accent-color);

}
.social-links:hover .social__icon--white,
.social-links:focus .social__icon--white{
    fill: var(--white-color);
    
}
.social__links--dark{
   
        height: 44px;
        width: 44px;
        fill: var(--white-color);
        margin: 0;
        padding: 12px;
        border-radius: 50%; 
        
        background-color: rgba(255, 255, 255, 0.1);
}

/*ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.subscribe-section{
    margin-left: 93px;
    width: 570px;
    height: 86px;
}
.subscribe-section__label{
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:var(--white-color);
    padding: 0;
}
.subscribe{
    display: flex;
    justify-content:center;
    align-items: center;
}
.subscribe-section__input{
    display: block;
    margin-top: 20px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--background-footer);
    color: var(--white-color);
}
.subscribe-section__input::placeholder{
    
    font-family: Roboto;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.subscribe-section__button{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 0.3;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-color);

    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--accent-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    margin-left: 12px;
    margin-top: auto;
    
}
.subscribe-section__icon{
    margin-left: 10px;
}

/* PORTFOLIO PAGE */

/* main-section portfolio */

.portfolio-section{
    padding-top: 100px;
    padding-bottom: 94px;
}
/* name hidden */
.name{
    margin-top: 0;
    margin-bottom: 0;
}
.portfolio-section__elements{
   
    margin-top: 0;
    margin-bottom: 56px;
    padding: 0;

    display: flex;
    justify-content: center;

    background-color:var(--white-color);
    list-style-type: none;
    border-radius: 4px;

}
.portfolio-section__list:hover .portfolio-section__button,
.portfolio-section__list:focus .portfolio-section__button{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}
.portfolio-section__button {
    color: var(--title-color);
    background-color: var(--background-buttom-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid #ECECEC;
    cursor: pointer; 
    border-radius: 4px;

    padding: 6px 22px;
}
.portfolio-section__list{
    list-style-type: none;
}
.portfolio-section__list:nth-child(-n + 5){
    margin-right: 8px;
}
.portfolio-section__list:last-child{
    margin-right: 0;
}

/* GALLERY */
.gallery {
    background-color:#FFFFFF;
    color: var(--title-color);

    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
}

.gallery__list {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin-bottom: 30px;

    transition:box-shadow 250ms var(--timefunction);  
}
.gallery__list:hover,
.gallery__list:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.gallery__list:hover::before{
    opacity: 1;
}
  .gallery__img{
     display: block;
 } 

.gallery__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
    margin-top: 0;


}
.gallery__text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;

}
.gallery__list{

    width: 370px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    
    
}
.gallery__list:nth-child(3n){
    margin-right: 0;
}

.gallery__list:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.gallery__article{
    position: absolute;
    top: 0;
    left: 0;

    /* opacity: 0; */

    width: 100%;
    height: 100%;

    display: inline-block;

    font-family: Roboto;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    
    margin: 0;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms var(--timefunction);
    
}
.gallery__list:hover .gallery__article{
    /* opacity: 1; */
    transform: translateY(0);
}

.gallery__component{
    position: relative;
    overflow: hidden;
}
.gallery__card{
    margin-top: 0;
    margin-bottom: 0;
    
    background-color:  #FFFFFF;
   
    padding: 20px 24px 20px 24px;
    
}