.contact {
  margin: 0;
  display: flex;
  margin-left: auto;
  padding: 0;

  flex-direction: column-reverse;

  // & a{
  //     color:var(--primary-text-color);
  //     font-weight: 500;
  //     font-size: 14px;
  //     line-height:1.14;
  //     letter-spacing: 0.02em;
  //     text-decoration: none;

  //     transition: color 250ms var(--timefunction);
  //     @media screen and (max-width:767px) {
  //         font-size: 40px;
  //         line-height: 40px;
  //         color: var(--accent-color);
  //     }
  // }
  // & a:hover,
  // & a:focus{
  //     color:var(--accent-color);
  // }
  &__list:not(:last-child) {
    margin-right: 30px;
  }

  &__icon {
    width: 16px;
    margin-right: 10px;
    fill: var(--primary-text-color);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timefunction);
  &--number {
      @media screen and (max-width:767px) {
        font-size: 34px;
        line-height: 40px;
        color: var(--accent-color)
      }
   
  }
  &--email{
    @media screen and (max-width:767px){
        font-size: 24px;
        line-height: 28px
    }
   
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
