.footer {
  background-color: var(--background-footer);

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    background-color: var(--background-footer);
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  &__section {
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      flex-shrink: 0;
    }
  }
  &--flex {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}

.navigation__logo--footer {
  text-align: center;

  margin-top: 0;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}
.navigation__title--white {
  color: var(--white-color);
}

.address {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
  margin-top: 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
    margin-top: 0;
  }

  &__footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: 1200px) {
      text-align: center;
    }
  }
}
.footer-address {
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin-bottom: 60px;
  }
}
.tablet--flex {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    justify-content: space-around;
    
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
