// .header{
//     border-bottom: 1px solid #ECECEC;
//     &__page {
//         display: flex;
//     }
// }

.header {
  border-bottom: 1px solid #ececec;
 position: relative;
  
  &__page {
    display: flex;
    @media screen and (max-width: 767px) {
      padding-top: 16px;
      justify-content: space-between;
      // align-items: center;
      position: relative;
    }
    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;
      align-items: center;
    }
    @media screen and (min-width:1200px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

}
