// .header{
//     border-bottom: 1px solid #ECECEC;
//     &__page {
//         display: flex;
//     }
// }

.header {
  border-bottom: 1px solid #ececec;
  position: relative;

  // @media screen and (min-width:1200px) {
  //   border-bottom: 1px solid #ECECEC;
  // }
  &__page {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}
