.navigation__logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    top: 100%;

    display: flex;
    justify-content: center;
    @media screen and (min-width:768px) {
        margin-right: 88px;
    }
    &--accent {
        color:var(--accent-color);
    }
    
}
    .navigation__title {
        color: var(--title-color);
    }
    
   