.mobile-social__links {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: #2196f3;
  text-decoration: none;
}
.mobile-social {
  display: flex;
  align-items: center;

  @media screen and (min-width:768px){
    display: none;
  }
  @media screen and (min-width:1200px) {
    display: none;
  }
}
.mobile-social__elements + .mobile-social__elements::before {
  content: '';
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);

  margin-left: 10px;
  margin-right: 10px;
}
.mobile-social__elements::before:last-child{
    margin-left: 0;
    
}

.wrap{
    margin-top: 260px;
    @media screen and (min-width:768px) {
      // margin: 0;
      // padding: 0;
  
      // position: absolute;
      // top: 0;
      // left: 50%;
      margin-top: 0;
    }
    @media screen and (min-width:1200px) {
    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 230px;
    }
}
